.footer{
    background-color: black;
    color: white;
    margin-top: 30px;
}
.footer-header{
    font-size: 25px;
    font-family: 700px;
    padding-top: 60px;
    text-align: center;
}
hr{
    border: 1px solid gray;
    margin: 0 80px;
}
.about{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 20px;
    padding-bottom: 30px;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
    height: 40px;
    background-color: rgb(1, 43, 29);
    border-radius: 10px;
    margin: 0px 550px;
    padding-bottom: 5px;
    cursor: pointer;
}
